<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sys.dao.SysUserDao">
      <select id="findObjectByUserName"
           resultType="sysUser">
      select *
      from sys_users  
      where username=#{username}
   </select>
   <!-- 注册用户 -->
   <insert id="doRegister">
   		insert into sys_users(username,password) values(#{username},#{password})
   </insert>
   <!-- 找回密码 -->
   <select id="doSearchPassword" resultType="string">
   		select password from sys_users where username=#{username}
   </select>
   <!-- 修改密码 -->
   <update id="updatePassword">
   		update sys_users set password=#{password} where username=#{username}
   </update>
</mapper>



